.wrapper {
  background-color: #161616;

  .container {
    max-width: var(--max-width);
    height: 86px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 20%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;

    a {
      color: var(--white);
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
    color: var(--white);
  }
}
